body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}


h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}


form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px; 
    margin-bottom: 20px;
}


form p {
    font-size: 1em;
    margin-bottom: 10px;
    margin-right: 20px;
}


form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    text-align: left; 
}


form button {
    background-color: #800080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


form button:hover {
    background-color: #530053;
}


a {
    text-decoration: none;
    color: #800080;
    font-size: 1.1em;
    margin-top: 20px;
    display: inline-block;
    transition: color 0.3s ease;
}


a:hover {
    color: #530053;
}
