<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Početna stranica</title>
    
</head>
<body>
    
    <h1> Početna stranica </h1>
    <p></p>
    
    <a href="{% url 'login' %}">Prijava</a>
    
    <br>
    <br>
    <hr>
    <br>
    
    <a href="{% url 'admin:index' %}">Prijava administratora</a>
    

</body>
</html>