<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style3.css' %}">
    <title>Popis Filmova</title>
</head>
<body>
    <br>
    
    <a class="povratak" href="{% url 'main:logged_in' %}">Povratak</a>
    
    <h1>Popis Filmova</h1>
    <form method="get" action="{% url 'main:movie_list' %}">
        <input type="text" name="q" placeholder="Pretraži filmove..." value="{{ request.GET.q }}">
        <button type="submit">Pretraži</button>
        <select name="genre">
            <option value="">Svi žanrovi</option>
            {% for genre in genres %}
                <option value="{{ genre }}" {% if request.GET.genre == genre %}selected{% endif %}>
                    {{ genre }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Filtriraj</button>
    </form>
    
    <ul>
        {% for movie in movies %}
            <li>
                <a href="{% url 'main:movie_detail' movie.pk %}">{{ movie.title }}</a> ({{ movie.release_date }})
            </li>
        {% endfor %}
    </ul>
    {% if not movies %}
        <p>Nema dostupnih filmova.</p>
    {% endif %}
</body>
</html>
