<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style6.css' %}">
    <title>Ažuriraj recenziju</title>
</head>
<body>
    <h1>Ažuriraj recenziju za "{{ review.movie.title }}"</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Spremi promjene</button>
    </form>
    <br>
    <a href="{% url 'main:reviews' %}">Povratak na popis recenzija</a>
</body>
</html>
