<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recenzije i Preporuke</title>
</head>
<body>
    <h1>Recenzije</h1>
    <a href="{% url 'main:logged_in' %}">Povratak na početnu stranicu</a>
    <hr>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>
                    <strong>{{ review.movie.title }}</strong><br>
                    Korisnik: {{ review.user.username }}<br>
                    Ocjena: <strong>{{ review.rating }} / 10</strong><br>
                    Komentar: {{ review.comment }}
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nema recenzija u bazi.</p>
    {% endif %}

    <hr>


    <h2>Unos recenzije</h2>
    <form method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <button type="submit" name="submit_review">Pošalji recenziju</button>
    </form>

    <hr>

    <h1>Preporuke korisnika</h1>
    {% if movie_recommendations %}
        <ul>
            {% for recommendation in movie_recommendations %}
                <li>
                    <strong>{{ recommendation.movie.title }} by {{recommendation.user.username}}</strong> - 
                    {{ recommendation.reason }}
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nemate specifičnih preporuka.</p>
    {% endif %}

    <br>
    <hr>

    <h2>Unos preporuka</h2>
    <form method="POST">
        {% csrf_token %}
        {{ recommendation_form.as_p }}
        <button type="submit" name="submit_recommendation">Pošalji preporuku</button>
    </form>

    <br>
    <hr>
    
</body>
</html>
